NodeRed/Data/flows.json
[
    {
        "id": "ec5bd3851ded0af3",
        "type": "tab",
        "label": "Temperature",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8be2de6d3dfabc6a",
        "type": "tab",
        "label": "Niveau eau",
        "disabled": false,
        "info": ""
    },
    {
        "id": "829f0f27baac9fee",
        "type": "tab",
        "label": "Set Input",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f35003b0cc36ee5",
        "type": "ui_tab",
        "name": "Value",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "66e2d93ae7ebac04",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "80145f6438d993ee",
        "type": "ui_group",
        "name": "Value",
        "tab": "8f35003b0cc36ee5",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b669e583f039b061",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "6bce420ab49c6829",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cfb206593b61e545",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "6bce420ab49c6829",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bce420ab49c6829",
        "type": "ui_tab",
        "name": "Graph",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "211febbd4a9f7ab4",
        "type": "ui_group",
        "name": "Niveau Eau",
        "tab": "6bce420ab49c6829",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "acfb3ac3c77092b6",
        "type": "ui_group",
        "name": "Input",
        "tab": "8f35003b0cc36ee5",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "98f86843821646a9",
        "type": "function",
        "z": "ec5bd3851ded0af3",
        "name": "Save TempSensor1",
        "func": "let Name = \"TempSensor1\"\n\nlet AllData = global.get(Name) || []\nAllData.push({ time: new Date().getTime(), data: msg.payload })\nglobal.set(Name, AllData)",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4b688510d5c88e78",
        "type": "ui_text",
        "z": "ec5bd3851ded0af3",
        "group": "80145f6438d993ee",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "TempSensor1",
        "label": "Temperature Cuve",
        "format": "{{msg.payload}} °c",
        "layout": "col-center",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "307d0165113a9d24",
        "type": "function",
        "z": "ec5bd3851ded0af3",
        "name": "Arrondi",
        "func": "let arrondi = Number.parseFloat(msg.payload).toFixed(1)\nmsg.payload = arrondi.toString()\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "4b688510d5c88e78",
                "216539a959245c36"
            ]
        ]
    },
    {
        "id": "193d2876df55e133",
        "type": "ds18b20",
        "z": "ec5bd3851ded0af3",
        "name": "TempSensor1",
        "sensorid": "28-7fbb411f64ff",
        "timer": "0.2",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "307d0165113a9d24"
            ]
        ]
    },
    {
        "id": "216539a959245c36",
        "type": "delay",
        "z": "ec5bd3851ded0af3",
        "name": "Garde 1 msg par 10min",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "d48beca72ea0e989"
            ]
        ]
    },
    {
        "id": "d48beca72ea0e989",
        "type": "ui_chart",
        "z": "ec5bd3851ded0af3",
        "name": "Temperature",
        "group": "cfb206593b61e545",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ac1978049d2efa5a",
        "type": "function",
        "z": "8be2de6d3dfabc6a",
        "name": "Save Ultrason1",
        "func": "let Name = \"Ultrason1\"\n\nlet AllData = global.get(Name) || []\nAllData.push({ time: new Date().getTime(), data: msg.payload })\nglobal.set(Name, AllData)",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "fc15b10661ba1546",
        "type": "ui_text",
        "z": "8be2de6d3dfabc6a",
        "group": "80145f6438d993ee",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Ultrason1",
        "label": "Niveau eau Cuve",
        "format": "{{msg.payload}} cm",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 483,
        "y": 153,
        "wires": []
    },
    {
        "id": "6c2cfc142ce9c6b3",
        "type": "range",
        "z": "8be2de6d3dfabc6a",
        "minin": "${SONAR_MIN}",
        "maxin": "${SONAR_MAX}",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Range",
        "x": 750,
        "y": 300,
        "wires": [
            [
                "7e5a8e6c841505a9"
            ]
        ]
    },
    {
        "id": "024109f0c5f6eb73",
        "type": "ui_gauge",
        "z": "8be2de6d3dfabc6a",
        "name": "",
        "group": "b669e583f039b061",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Niveau Eau",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "10",
        "seg2": "20",
        "x": 910,
        "y": 160,
        "wires": []
    },
    {
        "id": "1a5523e045e9f691",
        "type": "exec",
        "z": "8be2de6d3dfabc6a",
        "command": "python3 /data/Ultrason.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Ultrason.py",
        "x": 274,
        "y": 237,
        "wires": [
            [
                "5ab05137dc585294",
                "fc15b10661ba1546",
                "70fa6172b52f5a0a"
            ],
            [
                "ad7e14091ae52074"
            ],
            [
                "b0533519d75fff2b"
            ]
        ]
    },
    {
        "id": "7a5136c2d37bb302",
        "type": "inject",
        "z": "8be2de6d3dfabc6a",
        "name": "Autostart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "12",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 98,
        "y": 237,
        "wires": [
            [
                "1a5523e045e9f691"
            ]
        ]
    },
    {
        "id": "5ab05137dc585294",
        "type": "debug",
        "z": "8be2de6d3dfabc6a",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 467,
        "y": 84,
        "wires": []
    },
    {
        "id": "ad7e14091ae52074",
        "type": "debug",
        "z": "8be2de6d3dfabc6a",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 475,
        "y": 285,
        "wires": []
    },
    {
        "id": "b0533519d75fff2b",
        "type": "debug",
        "z": "8be2de6d3dfabc6a",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 481,
        "y": 363,
        "wires": []
    },
    {
        "id": "5eff6ddb5fb994ed",
        "type": "delay",
        "z": "8be2de6d3dfabc6a",
        "name": "Garde 1 msg par 10min",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 950,
        "y": 220,
        "wires": [
            [
                "8dfaeb1745400549"
            ]
        ]
    },
    {
        "id": "8dfaeb1745400549",
        "type": "ui_chart",
        "z": "8be2de6d3dfabc6a",
        "name": "Niveau eau",
        "group": "211febbd4a9f7ab4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Niveau Eau",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "70fa6172b52f5a0a",
        "type": "function",
        "z": "8be2de6d3dfabc6a",
        "name": "bloque si au dessu de max value",
        "func": "let SONAR_MAX = parseInt(global.get(\"SONAR_MAX\"))\nlet MaxValue = SONAR_MAX + (SONAR_MAX*0.1)\n\nif (msg.payload < MaxValue){\n    return msg;\n} else {\n    node.warn(\"la valeur mesurée depasse la limite max\");\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "b386e894fddf3583"
            ]
        ]
    },
    {
        "id": "b386e894fddf3583",
        "type": "function",
        "z": "8be2de6d3dfabc6a",
        "name": "Range",
        "func": "let data = Number.parseFloat(msg.payload)\n\nlet inMin = global.get(\"SONAR_MIN\")\nlet inMax = global.get(\"SONAR_MAX\")\n\nlet outMin = 100\nlet outMax = 0\n\nlet range = (data - inMin) * (outMax - outMin) / (inMax - inMin) + outMin\nrange = range.toFixed(0)\nmsg.payload = range\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 220,
        "wires": [
            [
                "5eff6ddb5fb994ed",
                "024109f0c5f6eb73"
            ]
        ]
    },
    {
        "id": "7e5a8e6c841505a9",
        "type": "debug",
        "z": "8be2de6d3dfabc6a",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "9d06d2dccec353ea",
        "type": "ui_form",
        "z": "829f0f27baac9fee",
        "name": "Input",
        "label": "Input",
        "group": "acfb3ac3c77092b6",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Min",
                "value": "Min",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Max",
                "value": "Max",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Min": "",
            "Max": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "795330a9fc23aa21"
            ]
        ]
    },
    {
        "id": "bcd5b67d70ab3d4a",
        "type": "function",
        "z": "829f0f27baac9fee",
        "name": "Set defaut",
        "func": "let inMin = global.get(\"SONAR_MIN\")\nlet inMax = global.get(\"SONAR_MAX\")\n\nlet data = {\"Min\" : inMin, \"Max\" : inMax}\nmsg.payload = data\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 240,
        "wires": [
            [
                "9d06d2dccec353ea"
            ]
        ]
    },
    {
        "id": "de7fc0e2fa34aeaa",
        "type": "ui_button",
        "z": "829f0f27baac9fee",
        "name": "Get input value",
        "group": "acfb3ac3c77092b6",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Get input value",
        "tooltip": "",
        "color": "",
        "bgcolor": "lightblue",
        "className": "",
        "icon": "",
        "payload": "set",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "bcd5b67d70ab3d4a"
            ]
        ]
    },
    {
        "id": "795330a9fc23aa21",
        "type": "function",
        "z": "829f0f27baac9fee",
        "name": "Set defaut value",
        "func": "let Min = \"SONAR_MIN\"\nlet Max = \"SONAR_MAX\"\n\nglobal.set(Min, parseFloat(msg.payload.Min))\nglobal.set(Max, parseFloat(msg.payload.Max))\n\n// preparer le payload pour modifier le fichier\nmsg.payload = { \"SONAR_MIN\": parseFloat(msg.payload.Min), \"SONAR_MAX\": parseFloat(msg.payload.Max) }\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 240,
        "wires": [
            [
                "4de1fb0565a38dd2"
            ]
        ]
    },
    {
        "id": "22b89a8a12a029fe",
        "type": "inject",
        "z": "829f0f27baac9fee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "a52b542c6392c157"
            ]
        ]
    },
    {
        "id": "051930ac3ac4a449",
        "type": "function",
        "z": "829f0f27baac9fee",
        "name": "Set defaut value",
        "func": "// Si le fichier config.json n'existe pas on ajoute des valeur par defaut\nlet Min = \"SONAR_MIN\"\nlet Max = \"SONAR_MAX\"\n\nlet defautMin = 7\nlet defautMax = 72\n\n// set global variable\nglobal.set(Min, defautMin)\nglobal.set(Max, defautMax)\n\n// preparer le payload pour créer le fichier config.json\nmsg.payload = { \"SONAR_MIN\": parseFloat(msg.payload.Min), \"SONAR_MAX\": parseFloat(msg.payload.Max) }\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "55cbe8bef5d888df"
            ]
        ]
    },
    {
        "id": "4de1fb0565a38dd2",
        "type": "file",
        "z": "829f0f27baac9fee",
        "name": "Set configuration file",
        "filename": "/data/config.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 860,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a52b542c6392c157",
        "type": "file in",
        "z": "829f0f27baac9fee",
        "name": "Read Config file",
        "filename": "/data/config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "21bd404c806cb129"
            ]
        ]
    },
    {
        "id": "d93ce52835a7c33f",
        "type": "catch",
        "z": "829f0f27baac9fee",
        "name": "File not exist",
        "scope": [
            "a52b542c6392c157"
        ],
        "uncaught": false,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "051930ac3ac4a449"
            ]
        ]
    },
    {
        "id": "21bd404c806cb129",
        "type": "function",
        "z": "829f0f27baac9fee",
        "name": "Set defaut value",
        "func": "// Si le fichier DynEnvVar.json existe on load son contenu dans les variable globale\n\nlet data = JSON.parse(msg.payload)\n\nlet Min = \"SONAR_MIN\"\nlet Max = \"SONAR_MAX\"\n\nglobal.set(Min, parseFloat(data.SONAR_MIN))\nglobal.set(Max, parseFloat(data.SONAR_MAX))",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "55cbe8bef5d888df",
        "type": "file",
        "z": "829f0f27baac9fee",
        "name": "Set configuration file",
        "filename": "/data/config.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 600,
        "y": 120,
        "wires": [
            []
        ]
    }
]