NodeRed/Data/flows.json
[
    {
        "id": "ec5bd3851ded0af3",
        "type": "tab",
        "label": "Temperature",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8be2de6d3dfabc6a",
        "type": "tab",
        "label": "Niveau eau",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8f35003b0cc36ee5",
        "type": "ui_tab",
        "name": "Value",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "66e2d93ae7ebac04",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "80145f6438d993ee",
        "type": "ui_group",
        "name": "Value",
        "tab": "8f35003b0cc36ee5",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b669e583f039b061",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "8f35003b0cc36ee5",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cfb206593b61e545",
        "type": "ui_group",
        "name": "Graph",
        "tab": "6bce420ab49c6829",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bce420ab49c6829",
        "type": "ui_tab",
        "name": "Graph",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "98f86843821646a9",
        "type": "function",
        "z": "ec5bd3851ded0af3",
        "name": "Save TempSensor1",
        "func": "let Name = \"TempSensor1\"\n\nlet AllData = global.get(Name) || []\nAllData.push({ time: new Date().getTime(), data: msg.payload })\nglobal.set(Name, AllData)",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4b688510d5c88e78",
        "type": "ui_text",
        "z": "ec5bd3851ded0af3",
        "group": "80145f6438d993ee",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "TempSensor1",
        "label": "Temperature Cuve",
        "format": "{{msg.payload}} °c",
        "layout": "col-center",
        "x": 502,
        "y": 282,
        "wires": []
    },
    {
        "id": "307d0165113a9d24",
        "type": "function",
        "z": "ec5bd3851ded0af3",
        "name": "Arrondi",
        "func": "let arrondi = Number.parseFloat(msg.payload).toFixed(1)\nmsg.payload = arrondi.toString()\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "4b688510d5c88e78",
                "216539a959245c36"
            ]
        ]
    },
    {
        "id": "193d2876df55e133",
        "type": "ds18b20",
        "z": "ec5bd3851ded0af3",
        "name": "TempSensor1",
        "sensorid": "28-7fbb411f64ff",
        "timer": "0.2",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "307d0165113a9d24"
            ]
        ]
    },
    {
        "id": "216539a959245c36",
        "type": "delay",
        "z": "ec5bd3851ded0af3",
        "name": "Garde 1 msg par 10min",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "98f86843821646a9",
                "d48beca72ea0e989"
            ]
        ]
    },
    {
        "id": "d48beca72ea0e989",
        "type": "ui_chart",
        "z": "ec5bd3851ded0af3",
        "name": "Temperature",
        "group": "cfb206593b61e545",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ac1978049d2efa5a",
        "type": "function",
        "z": "8be2de6d3dfabc6a",
        "name": "Save Ultrason1",
        "func": "let Name = \"Ultrason1\"\n\nlet AllData = global.get(Name) || []\nAllData.push({ time: new Date().getTime(), data: msg.payload })\nglobal.set(Name, AllData)",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "fc15b10661ba1546",
        "type": "ui_text",
        "z": "8be2de6d3dfabc6a",
        "group": "80145f6438d993ee",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Ultrason1",
        "label": "Niveau eau Cuve",
        "format": "{{msg.payload}} cm",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 483,
        "y": 153,
        "wires": []
    },
    {
        "id": "6c2cfc142ce9c6b3",
        "type": "range",
        "z": "8be2de6d3dfabc6a",
        "minin": "7",
        "maxin": "72",
        "minout": "100",
        "maxout": "0",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Range",
        "x": 478,
        "y": 224,
        "wires": [
            [
                "993a24dffab0a121"
            ]
        ]
    },
    {
        "id": "024109f0c5f6eb73",
        "type": "ui_gauge",
        "z": "8be2de6d3dfabc6a",
        "name": "",
        "group": "b669e583f039b061",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Niveau Eau",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "10",
        "seg2": "20",
        "x": 804,
        "y": 154,
        "wires": []
    },
    {
        "id": "1a5523e045e9f691",
        "type": "exec",
        "z": "8be2de6d3dfabc6a",
        "command": "python3 /data/Ultrason.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Ultrason.py",
        "x": 274,
        "y": 237,
        "wires": [
            [
                "5ab05137dc585294",
                "6c2cfc142ce9c6b3",
                "fc15b10661ba1546"
            ],
            [
                "ad7e14091ae52074"
            ],
            [
                "b0533519d75fff2b"
            ]
        ]
    },
    {
        "id": "7a5136c2d37bb302",
        "type": "inject",
        "z": "8be2de6d3dfabc6a",
        "name": "Autostart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "12",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 98,
        "y": 237,
        "wires": [
            [
                "1a5523e045e9f691"
            ]
        ]
    },
    {
        "id": "5ab05137dc585294",
        "type": "debug",
        "z": "8be2de6d3dfabc6a",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 467,
        "y": 84,
        "wires": []
    },
    {
        "id": "ad7e14091ae52074",
        "type": "debug",
        "z": "8be2de6d3dfabc6a",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 475,
        "y": 285,
        "wires": []
    },
    {
        "id": "b0533519d75fff2b",
        "type": "debug",
        "z": "8be2de6d3dfabc6a",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 481,
        "y": 363,
        "wires": []
    },
    {
        "id": "993a24dffab0a121",
        "type": "function",
        "z": "8be2de6d3dfabc6a",
        "name": "Arrondi",
        "func": "let arrondi = Number.parseFloat(msg.payload).toFixed(0)\nmsg.payload = arrondi.toString()\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 628,
        "y": 224,
        "wires": [
            [
                "024109f0c5f6eb73",
                "5eff6ddb5fb994ed"
            ]
        ]
    },
    {
        "id": "5eff6ddb5fb994ed",
        "type": "delay",
        "z": "8be2de6d3dfabc6a",
        "name": "Garde 1 msg par 10min",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 220,
        "wires": [
            [
                "ac1978049d2efa5a",
                "8dfaeb1745400549"
            ]
        ]
    },
    {
        "id": "8dfaeb1745400549",
        "type": "ui_chart",
        "z": "8be2de6d3dfabc6a",
        "name": "Niveau eau",
        "group": "cfb206593b61e545",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Niveau Eau",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 300,
        "wires": [
            []
        ]
    }
]